#top-navbar {
    background-color: #FAFAFA;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}

#top-navbar-links {
    display: table;
    margin: auto;
}

#top-navbar iframe {
    margin-top:10px;
    margin-left:10px;
    display: table-cell;
    vertical-align: middle;
}

#top-navbar span {
    font-size:16px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
}

#top-navbar-links .widget {
    padding-top: 3px;
}

#login-buttons {
    .btn.btn-social.github {
        margin-top: 2.8em;
    }
}

.headerLink {
    list-style: none;
    a {
        color: linear-gradient(to right, rbga(255, 66, 0), rbga(229, 6, 149))
    }
}